html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
}

.messages {
  overflow-y:scroll;
  height: 85vh;
  border: solid 5px #EEE;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.message {
  border-radius: 20px;
  padding: 8px 15px;
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

/* Diseños de encabezados de bandeja de chats y mensajaes*/
.flex-right-head, .flex-left-head{
  display: flex;
  width: 100%;
  height: 8%;
  background-color: #293042;
}

.flex-left-head h2, .flex-right-head h2 {
  margin: auto;
  font-family: sans-serif;
  font-size: 1.25rem;
  color: #fff;
}

/* mensaje lado izquierdo */
.left {
  color: white;
  margin-right: 80%;
  background-color: #8378db;
  position: relative;
}

.chat {
  height: 10%;
  background-color: #07dd12;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

#nameUser {
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1rem;
}

#prev-message {
  font-size: .8rem;
  margin: 0;
}

/* mensaje lado derecho */
.flex-right-head{
  width: 99.9%;
  border-left: 1px solid #3E4555;
}
.right {
  color: white;
  margin-left: 80%;
  background: #0085D1;
  position: relative;
}

.hora {
  color: light-gray;
  margin: 1em 0em 0em 1em;
  font-size: 0.75em;
  float: right;
}

.flex-container {
  display: flex;
  flex-direction: row;
}

/*Diseños generales de la bandeja de entrada y de la de conversación*/
.flex-right {
  width: 75%;
  height: 100vh;
  background-color: #202634;
}

.flex-left {
  width: 25%;
  background-color: #3E4555;
}
p {
  font-family: Arial, Helvetica, sans-serif;
  color: #EEE;
  margin: 10px;
}